<nav class="navbar bg-trans navbar-dark">

    <a class="navbar-brand" href="#"><span style="padding: 20px; font-size: 36px;" class="fa fa-address-book"></span>
        MENTOR ON DEMAND</a>

    
</nav>


<div class="container mt-5">
    <div class="title">
      <h3>Notifications</h3>
    </div>
</div>
<div class="alert alert-info">
    <div class="container">
        <div class="alert-icon">
            <i class="fa fa-info"></i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>

        <b>Info alert:</b> please update your profile info
    </div>
</div>
<div class="alert alert-success">
    <div class="container">
        <div class="alert-icon">
            <i class="fa fa-trophy"></i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
        <b>Success Alert:</b> You have successfully completed your training on bootstrap
    </div>
</div>
<div class="alert alert-warning">
     <div class="container">
         <div class="alert-icon">
            <i class="fa fa-exclamation-triangle"></i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
         <b>Warning Alert:</b> Assignments are due
    </div>
</div>
<div class="alert alert-danger">
     <div class="container">
         <div class="alert-icon">
            <i class="fa fa-exclamation"></i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
         <b>Error Alert:</b> Your Assignments are over due.
    </div>
</div>


