<nav class="navbar bg-trans navbar-dark">

    <a class="navbar-brand" routerLink="/home"><span style="padding: 10px; font-size: 36px;"
            class="fa fa-address-book"></span>Mentor On Demand</a>

    <ul class="nav navbar-inverse navbar-right">
        <li><a style="color: aliceblue;padding: 7px;" routerLink="/notification"><span style="padding: 7px;"
                    class="fa fa-envelope"></span> Notifications</a></li>
        <li><a style="color: aliceblue;padding: 7px;" routerLink="/trainer-completed-trainings"><span
                    style="padding: 7px;" class="fa fa-thumbs-o-up"></span> Completed Trainings</a></li>
        <li><a style="color: aliceblue;padding: 7px;" routerLink="/trainer-edit-skills"><span style="padding: 7px;"
                    class="fa fa-search"></span> Edit Skills</a></li>
        <li><a style="color: aliceblue;padding: 7px;" routerLink="/trainer-menu"><span style="padding: 7px;"
                    class="fa fa-reorder"></span> Menu</a></li>

        <li><a style="color: aliceblue; padding: 7px;" routerLink="/home"><span style="padding: 7px;"
                    class="fa fa-sign-out"></span>Logout</a></li>
    </ul>
</nav>
<nav class="navbar bg-trans navbar-dark">
    <span>
        <h2 class="display-4" style="color: aliceblue">Current Trainings<span style="padding: 7px;"
                class="fa fa-book"></span></h2>
    </span>

</nav>

<ul class="trainingsArray" style="list-style: none">
    <li *ngFor="let training of trainingsArray">
        <div class="container mt-3">


            <div class="media border p-3" style="border-radius: 1rem; background:rgb(0, 0, 0,0.7);color: seashell">


                <div class="media-body">
                    <div class="row align-items-center justify-content-center">
                        <img src="assets/images/tech.png" alt="bootstrap" class="mr-3 mt-2 rounded-circle"
                            style="width:60px;">
                        <h6 class="col-md-2 pt-3"><b>{{training.technologyName}}</b></h6>
                        <span class="col-md-2 pt-3">Completion Status : <span>
                                <div class="progress">
                                    <div class="progress-bar bg-success progress-bar-striped"  style="width:30%">{{training.progress}}%
                                    </div>
                                </div>
                            </span> </span>

                        <span class="col-md-3 pt-3">User ID : <span><b>{{training.userId}}</b></span> </span>

                        <button style="background-color: teal; color: white" (click)="onPaymentStatus(training.id)" class="btn  col-md-1.5 pt-2"
                            data-toggle="modal" data-target="#myModal">Payment Status</button>
                    </div>
                </div>
            </div>


        </div>

        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header" style="background: rgb(45, 141, 93, 0.432)">
                        <h4 class="modal-title">Payment Status</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" style="background: transparent">
                        <h6>{{userName}} </h6>
                    <p>User ID : {{payment.mentorId}}</p>
                    <p>Payment Status : {{payment.paymentStatus}}</p>
                    <p>Total Fees : {{payment.totalPayment}}</p> 
                    <p>Payment Released : {{payment.paymentReleased}}</p>
                        
                        
                        

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

    </li>
</ul>