
        <div class="container col-md-4">
            <br>
            <div class="card align-items-center " style="width:350px;background: rgb(0, 0, 0,0.7);border-radius: 1rem;color: seashell">
                    <img src="assets/images/trainer_img.png" alt="Mr Smith" class="mr-2 mt-2  rounded-circle "
                    style="width:100px; ">
                <div class="card-body ">
                    <h4 class="card-title">Arya Stark</h4>
                    <p class="card-text">Technoloies : Html,Bootstrap,Spring</p>
                    <p class="card-text">No. of trainings completed : 7</p>
                    <p class="card-text">Avg Rating : 4.7</p>
                    <p class="card-text">Time Slot : 6pm-8pm</p>
                    <p class="card-text">Email : aryastark@mentorondemand.com</p>
                    <a routerLink="/user-search" class="btn btn-primary stretched-link">Back</a>
                </div>
            </div>
        </div>

