<nav class="navbar bg-trans navbar-dark">

    <a class="navbar-brand" href="#"><span style="padding: 20px; font-size: 36px;" class="fa fa-address-book"></span>
        MENTOR ON DEMAND</a>

    <ul class="nav navbar-inverse navbar-right">
        <li class="nav-item dropdown ">
            <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span style="padding: 7px;" class="fa fa-sign-in"></span> Login
            </a>

            <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/user-login">User</a>
                <a class="dropdown-item" routerLink="/trainer-login">Trainer</a>
                <a class="dropdown-item" routerLink="/admin-login">Admin</a>

            </div>
        </li>
        <li class="nav-item dropdown ">
            <a style="color: white" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span style="padding: 7px;" class="fa fa-user-plus"></span> Sign Up
            </a>

            <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/user-sign-up">User</a>
                <a class="dropdown-item" routerLink="/trainer-sign-up">Trainer</a>

            </div>
        </li>


        <li class="pt-2"><a style="color: aliceblue;padding: 7px;" routerLink="/search"><span style="padding: 7px;"
                    class="fa fa-search"></span> Search Courses</a></li>


    </ul>
</nav>