<nav class="navbar bg-trans navbar-dark">

    <a class="navbar-brand" href="#"><span style="padding: 20px; font-size: 36px;"
            class="fa fa-address-book"></span>MENTOR ON DEMAND</a>

    <ul class="nav navbar-inverse navbar-right">
       

      
        <li ><a style="color: aliceblue;padding: 7px;" routerLink="/admin-menu"><span style="padding: 7px;"
                    class="fa fa-reorder"></span> Menu</a></li>
       


    </ul>
</nav>
        <div class="container">
                <br>
                <br>
                <div class="row">
                  <div class=" col-md-4 mx-auto">
                    <div class="card card-signin my-5"  style="background: rgb(0, 0, 0,0.5); border-radius: 2rem;">
                      <div class="card-body"  style="background: rgb(0, 0, 0,0.5); border-radius: 2rem;">
                        <h5 class="card-title text-center"  style="color: white">Block Trainer</h5>
                        <br>
                      <form [formGroup]="adminBlockTrainer" (ngSubmit)="onSubmit()" class="form-signin" action="" onsubmit="">
                          <div class="form-label-group">
                            <input formControlName="userName" style="background: rgb(0, 0, 0,0.5);" type="email" id="userInputEmail" class="form-control" placeholder="username" required autofocus>
                            <label for="userInputEmail"  style="color: white">Username</label>
                          </div>
                          
                          <hr style="background-color: white">
                       
                          <button class="btn btn-md btn-danger btn-block text-uppercase" type="submit">Block</button>
                         
                        </form> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
